# ENV
# description: application environment, used to determine some API behavior in specific environments.
# example: dev, test, prod
ENV=dev

# PORT 
# description: application http port 
# example: 3000
PORT=3000

# DATABASE_URL
# description: full database url
# example: mongodb://<user>:<pwd>@<host>:<port>/database
DATABASE_URL=mongodb://<user>:<pwd>@<host>:<port>/<database>

# TEST_DATABASE_URL
# description: full database url only used for tests
# example: mongodb://<user>:<pwd>@<host>:<port>/database
TEST_DATABASE_URL=mongodb://<user>:<pwd>@<host>:<port>/<database>